@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin soft-striped-bg($color1: #000, $color2: #0b0b0b, $width: 400px) {
  background: repeating-linear-gradient(
    90deg,
    $color1,
    $color1 ($width * 0.4),
    $color2 ($width * 0.5),
    $color1 ($width * 0.6),
    $color1 $width
  );
}