@font-face {
    font-family: "Inter", sans-serif;
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: #090909;
    font-family: "Inter", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
}

.nav-container {
    margin: 0 auto;
    max-width: 1260px;
    width: 90%;
}

.container {
    margin: 0 auto;
    max-width: 1190px;
    width: 90%;
}

.gradient-text {
  font-weight: 400;
  line-height: 1.2;

  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #e7e1d8 50%,
    #a99a85 100%,
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}