nav {
    @include flex-space-between;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: transparent;
    z-index: 1000;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 60px;

    img {
        width: 140px;
    }

    .nav__items {
        @include flex-center;
        gap: 10px;

        li {
            font-size: 17px;
            font-weight: $fw-500;
            color: $white;
            border: 1px solid transparent;
            padding: 8px 23px;
            border-radius: 30px;
            transition: $tr-standard;

            &:hover {
                border: 1px solid $white;
            }
        }
    }

    .log__btns {
        @include flex-center;
        gap: 12px;
    }

    .flip-btn {
        position: relative;
        height: 42px;
        padding: 0 24px;
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: transparent;
        color: $white;
        cursor: pointer;
        overflow: hidden;
    }

    .flip-btn .text {
        display: flex;
        flex-direction: column;
        transition: transform $tr-standard ease;
    }

    .flip-btn span span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
    }

    .flip-btn:hover .text {
        transform: translateY(-42px);
    }

    .border_btn {
        border-left: 2px solid $white;
        padding: 0 12px;
    }
}

main {
    padding: 20px;

    .hero {
        @include flex-column-center;
        background:
            linear-gradient(to bottom, transparent 80%, #0e0014 100%),
            url('../assets/photos/background.avif');
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        height: 143vh;
        margin: 0 auto;
        flex-flow: column;
        gap: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;

        .dot {
            color: $white;
            position: absolute;
            font-size: 13px;
        }

        .dot1 {
            top: 11rem;
            left: 10rem;
        }

        .dot2 {
            top: 13rem;
            right: 10rem;
        }

        .dot3 {
            top: 20rem;
            left: 13rem;
            opacity: 0.7;
        }

        .dot4 {
            top: 32rem;
            right: 10rem;
        }

        .dashboard {
            color: $white;
            background-color: $light-black;
            display: inline-block;
            padding: 8px 15px;
            margin-top: -24rem;
            font-weight: $fw-500;
            border-radius: 20px;
            z-index: 6;
        }

        .hero__title {
            font-size: 65px;
            line-height: 70px;
            color: $white;
            text-align: center;
            z-index: 5;
            @include flex-center;
        }

        .hero__description {
            color: $white;
            font-size: 17px;
            z-index: 5;
        }

        .signup-container {
            display: flex;
            align-items: center;
            background-color: #303030;
            border-radius: 40px;
            padding: 0 4px;
            width: 530px;
            height: 58px;
            z-index: 5;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .email-input {
            flex: 1;
            background: transparent;
            border: none;
            padding: 0 16px;
            color: white;
            font-size: 14px;
            height: 100%;
            outline: none;
        }

        .email-input::placeholder {
            color: #aaa;
        }

        .signup-btn {
            background-color: #f6ff66;
            color: #000;
            border: none;
            border-radius: 40px;
            padding: 0 25px;
            height: 47px;
            margin-right: 4px;
            cursor: pointer;
            font-weight: bold;
            transition: $tr-standard;
        }

        .signup-btn:hover {
            transform: translateY(2px);
        }

        .bottom__img {
            position: absolute;
            top: 19rem;
            width: 1100px;
        }

        .pluggo__img {
            width: 1180px;
            z-index: 6;
            position: absolute;
            bottom: 0;
        }
    }

    .features {
        position: relative;

        .dot1 {
            position: absolute;
            color: $white;
            top: -3rem;
            left: -2rem;
            font-size: 14px;
            opacity: 0.4;
        }

        .dot2 {
            position: absolute;
            color: $white;
            top: -1rem;
            right: 1rem;
            font-size: 14px;
            opacity: 0.8;
        }

        .features__description {
            @include flex-space-between;
            font-weight: 500;
            margin-top: 8rem;

            .features__about {
                @include flex-column;
                align-items: start;
                gap: 15px;
            }
        }

        .feature__image {
            @include flex-space-between;
            margin-top: 4rem;

            .features__options {
                @include flex-column;
                gap: 50px;

                .option__description {
                    margin-left: 4rem;
                    margin-top: 1rem;
                }
            }

            .option {
                color: $white;

                .option_about {
                    @include flex-start;
                    font-size: 30px;
                    gap: 20px;

                    img {
                        background-color: #313131;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }


        .feature__img {
            width: 500px;
        }
    }

    .how_it_works {
        margin-top: 10rem;

        .how_it_works_title {
            @include flex-space-between;

            .about {
                margin-top: 1rem;
            }
        }

        .how_it_works_images {
            margin-top: 4rem;

            .grid {
                @include flex-space-between;
                margin-top: 1.5rem;

                .grid1,
                .grid2,
                .grid3,
                .grid4,
                .grid5 {
                    position: relative;
                }

                .grid_title {
                    position: absolute;
                    bottom: 5.8rem;
                    font-size: 30px;
                    font-weight: 500;
                    left: 2rem;
                }

                .grid3 {
                    .grid_title {
                        bottom: 4.7rem;
                    }
                }

                .grid_description {
                    color: $white;
                    position: absolute;
                    bottom: 2rem;
                    left: 2rem;
                    font-size: 15px;
                    opacity: 0.6;
                }

                .img1 {
                    width: 687px;
                    object-fit: cover;
                }

                .img2 {
                    width: 483px;
                }

                .img3 {
                    border-radius: 30px;
                }

                .img4 {
                    width: 485px;
                    object-fit: cover;
                }

                .img5 {
                    width: 685px;
                }
            }
        }
    }

    .testimonial {
        margin-top: 10rem;

        .testimonial_title {
            @include flex-column;
            align-items: start;
            gap: 20px;
            margin-bottom: 5rem;
        }

        .testimonial-block {
            display: flex;
            margin-bottom: 8rem;
            align-items: flex-start;
            gap: 40px;
        }

        .testimonial-metric {
            flex: 0 0 250px;
            text-align: left;
            margin-right: 40px;
        }

        .metric-number {
            display: block;
            font-size: 80px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .metric-label {
            font-size: 19px;
            color: $white;
            text-transform: capitalize;
        }

        .testimonial-content {
            flex: 1;
            position: relative;
            padding-left: 60px;
        }

        .testimonial-content::before {
            content: '';
            display: block;
            position: absolute;
            left: -0.7rem;
            top: -10px;
            width: 60px;
            height: 40px;
            background-image: url('../assets/photos/quote.avif');
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.6;
        }

        .testimonial-text {
            font-size: 25px;
            font-weight: 500;
            line-height: 1.6;
            color: $white;
            margin-bottom: 30px;
        }

        .bio-block {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .bio-photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }

        .bio-name {
            color: #e6ec5d;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 3px;
        }

        .bio-title {
            color: #aaaaaa;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .unknown_section {
        @include flex-space-between;

        img {
            width: 550px;
            background: #2a2a2a;
            padding: 50px 50px 0 50px;
            border-radius: 30px;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
        }

        .words {
            @include flex-column;
            align-items: start;

            .title {
                font-size: 50px;
                margin-left: -0.8rem;
                margin-bottom: 10px;
            }

            .about {
                font-size: 18px;
                color: #aaaaaa;
            }
        }
    }

    .faqs {
        margin-top: 2rem;

        .title {
            display: flex;
            justify-content: center;
            width: 80px;
            margin: 10rem auto 1rem auto;
        }

        .about {
            text-align: center;
            margin-bottom: 4rem;
        }

        .accordion {
            @include flex-column-center;
            margin-top: -2rem;

            .faqs {
                @include flex-space-between;
                background-color: #1a1a1a;
                position: relative;
                border-radius: 16px;
                padding: 28px;
                align-items: center;
                width: 900px;
                overflow: hidden;

                .question {
                    font-size: 27px;
                }
            }

            .faqs::before {
                content: "";
                position: absolute;
                left: 0;
                top: 10%;
                height: 80%;
                width: 1.1px;
                background: linear-gradient(to bottom,
                        transparent,
                        #f5f5f5,
                        transparent);
            }

            .answer {
                margin-top: 2rem;
                color: #9f9f9f;
                max-height: 0;
                overflow: hidden;
                display: none;
                transition: max-height 0.4s ease, display 0.4s ease, margin 0.4s ease;
            }

            .faq-icon {
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.4s ease;
                width: 23px;
            }

            .faq.active {
                justify-content: flex-start;
                transition: $tr-standard;
                height: auto;
            }

            .faq.active .answer {
                max-height: 200px;
                transition: $tr-standard;
                display: block;
                margin-top: 2rem;
            }

            .faq.active .faq-icon {
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }

    .business {
        margin-top: 9rem;
        background: url("../assets/photos/section-photo.webp") no-repeat 50% 50%;
        background-size: cover;
        text-align: center;
        padding: 80px 0;
        @include flex-column-center;
        gap: 20px;
        border-radius: 30px;

        .about {
            font-size: 53px;
            font-weight: 500;
        }

        .pluggo-btn {
            margin-top: 1rem;
        }
    }
}

footer {
    padding: 7rem;

    .footer {
        background: url('../assets/photos/background.avif');
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        padding: 3rem;
        margin: 0 auto;
        flex-flow: column;
        gap: 20px;
    }
}