@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: #090909;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

.nav-container {
  margin: 0 auto;
  max-width: 1260px;
  width: 90%;
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  width: 90%;
}

.gradient-text {
  font-weight: 400;
  line-height: 1.2;
  background: linear-gradient(90deg, #ffffff 0%, #e7e1d8 50%, #a99a85 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  background-color: #1b1626;
  padding: 10px 15px;
  display: inline;
  color: #ffffff;
  border-radius: 40px;
}

.about {
  font-size: 50px;
  font-weight: 500;
}

.description {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.pluggo-btn {
  background-color: #f2f962;
  color: #000;
  border: none;
  padding: 0 25px;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  margin-top: 3rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.6, 0, 0.2, 1);
}

.text-main,
.text-hover {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pluggo-btn:hover .inner-container {
  transform: translateY(-50px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: transparent;
  z-index: 1000;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 60px;
}
nav img {
  width: 140px;
}
nav .nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .nav__items li {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 8px 23px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
nav .nav__items li:hover {
  border: 1px solid #ffffff;
}
nav .log__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
nav .flip-btn {
  position: relative;
  height: 42px;
  padding: 0 24px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}
nav .flip-btn .text {
  display: flex;
  flex-direction: column;
  transition: transform all 0.3s ease ease;
}
nav .flip-btn span span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
}
nav .flip-btn:hover .text {
  transform: translateY(-42px);
}
nav .border_btn {
  border-left: 2px solid #ffffff;
  padding: 0 12px;
}

main {
  padding: 20px;
}
main .hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent 80%, #0e0014 100%), url("../assets/photos/background.avif");
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 143vh;
  margin: 0 auto;
  flex-flow: column;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
main .hero .dot {
  color: #ffffff;
  position: absolute;
  font-size: 13px;
}
main .hero .dot1 {
  top: 11rem;
  left: 10rem;
}
main .hero .dot2 {
  top: 13rem;
  right: 10rem;
}
main .hero .dot3 {
  top: 20rem;
  left: 13rem;
  opacity: 0.7;
}
main .hero .dot4 {
  top: 32rem;
  right: 10rem;
}
main .hero .dashboard {
  color: #ffffff;
  background-color: #24212b;
  display: inline-block;
  padding: 8px 15px;
  margin-top: -24rem;
  font-weight: 500;
  border-radius: 20px;
  z-index: 6;
}
main .hero .hero__title {
  font-size: 65px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero .hero__description {
  color: #ffffff;
  font-size: 17px;
  z-index: 5;
}
main .hero .signup-container {
  display: flex;
  align-items: center;
  background-color: #303030;
  border-radius: 40px;
  padding: 0 4px;
  width: 530px;
  height: 58px;
  z-index: 5;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
main .hero .email-input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 14px;
  height: 100%;
  outline: none;
}
main .hero .email-input::placeholder {
  color: #aaa;
}
main .hero .signup-btn {
  background-color: #f6ff66;
  color: #000;
  border: none;
  border-radius: 40px;
  padding: 0 25px;
  height: 47px;
  margin-right: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
main .hero .signup-btn:hover {
  transform: translateY(2px);
}
main .hero .bottom__img {
  position: absolute;
  top: 19rem;
  width: 1100px;
}
main .hero .pluggo__img {
  width: 1180px;
  z-index: 6;
  position: absolute;
  bottom: 0;
}
main .features {
  position: relative;
}
main .features .dot1 {
  position: absolute;
  color: #ffffff;
  top: -3rem;
  left: -2rem;
  font-size: 14px;
  opacity: 0.4;
}
main .features .dot2 {
  position: absolute;
  color: #ffffff;
  top: -1rem;
  right: 1rem;
  font-size: 14px;
  opacity: 0.8;
}
main .features .features__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 8rem;
}
main .features .features__description .features__about {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
main .features .feature__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
main .features .feature__image .features__options {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .features .feature__image .features__options .option__description {
  margin-left: 4rem;
  margin-top: 1rem;
}
main .features .feature__image .option {
  color: #ffffff;
}
main .features .feature__image .option .option_about {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}
main .features .feature__image .option .option_about img {
  background-color: #313131;
  padding: 10px;
  border-radius: 50%;
}
main .features .feature__img {
  width: 500px;
}
main .how_it_works {
  margin-top: 10rem;
}
main .how_it_works .how_it_works_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .how_it_works .how_it_works_title .about {
  margin-top: 1rem;
}
main .how_it_works .how_it_works_images {
  margin-top: 4rem;
}
main .how_it_works .how_it_works_images .grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
main .how_it_works .how_it_works_images .grid .grid1,
main .how_it_works .how_it_works_images .grid .grid2,
main .how_it_works .how_it_works_images .grid .grid3,
main .how_it_works .how_it_works_images .grid .grid4,
main .how_it_works .how_it_works_images .grid .grid5 {
  position: relative;
}
main .how_it_works .how_it_works_images .grid .grid_title {
  position: absolute;
  bottom: 5.8rem;
  font-size: 30px;
  font-weight: 500;
  left: 2rem;
}
main .how_it_works .how_it_works_images .grid .grid3 .grid_title {
  bottom: 4.7rem;
}
main .how_it_works .how_it_works_images .grid .grid_description {
  color: #ffffff;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 15px;
  opacity: 0.6;
}
main .how_it_works .how_it_works_images .grid .img1 {
  width: 687px;
  object-fit: cover;
}
main .how_it_works .how_it_works_images .grid .img2 {
  width: 483px;
}
main .how_it_works .how_it_works_images .grid .img3 {
  border-radius: 30px;
}
main .how_it_works .how_it_works_images .grid .img4 {
  width: 485px;
  object-fit: cover;
}
main .how_it_works .how_it_works_images .grid .img5 {
  width: 685px;
}
main .testimonial {
  margin-top: 10rem;
}
main .testimonial .testimonial_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 5rem;
}
main .testimonial .testimonial-block {
  display: flex;
  margin-bottom: 8rem;
  align-items: flex-start;
  gap: 40px;
}
main .testimonial .testimonial-metric {
  flex: 0 0 250px;
  text-align: left;
  margin-right: 40px;
}
main .testimonial .metric-number {
  display: block;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 10px;
}
main .testimonial .metric-label {
  font-size: 19px;
  color: #ffffff;
  text-transform: capitalize;
}
main .testimonial .testimonial-content {
  flex: 1;
  position: relative;
  padding-left: 60px;
}
main .testimonial .testimonial-content::before {
  content: "";
  display: block;
  position: absolute;
  left: -0.7rem;
  top: -10px;
  width: 60px;
  height: 40px;
  background-image: url("../assets/photos/quote.avif");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
}
main .testimonial .testimonial-text {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 30px;
}
main .testimonial .bio-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .testimonial .bio-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
main .testimonial .bio-name {
  color: #e6ec5d;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3px;
}
main .testimonial .bio-title {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 600;
}
main .unknown_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .unknown_section img {
  width: 550px;
  background: #2a2a2a;
  padding: 50px 50px 0 50px;
  border-radius: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
main .unknown_section .words {
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .unknown_section .words .pluggo-btn {
  background-color: #f2f962;
  color: #000;
  border: none;
  padding: 0 25px;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  margin-top: 3rem;
}
main .unknown_section .words .inner-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.6, 0, 0.2, 1);
}
main .unknown_section .words .text-main,
main .unknown_section .words .text-hover {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
main .unknown_section .words .pluggo-btn:hover .inner-container {
  transform: translateY(-50px);
}
main .unknown_section .words .title {
  font-size: 50px;
  margin-left: -0.8rem;
  margin-bottom: 10px;
}
main .unknown_section .words .about {
  font-size: 18px;
  color: #aaaaaa;
}
main .faqs {
  margin-top: 2rem;
}
main .faqs .title {
  display: flex;
  justify-content: center;
  width: 80px;
  margin: 10rem auto 1rem auto;
}
main .faqs .about {
  text-align: center;
  margin-bottom: 4rem;
}
main .faqs .accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}
main .faqs .accordion .faqs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  position: relative;
  border-radius: 16px;
  padding: 28px;
  align-items: center;
  width: 900px;
  overflow: hidden;
}
main .faqs .accordion .faqs .question {
  font-size: 27px;
}
main .faqs .accordion .faqs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 1.1px;
  background: linear-gradient(to bottom, transparent, #f5f5f5, transparent);
}
main .faqs .accordion .answer {
  margin-top: 2rem;
  color: #9f9f9f;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: max-height 0.4s ease, display 0.4s ease, margin 0.4s ease;
}
main .faqs .accordion .faq-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s ease;
  width: 23px;
}
main .faqs .accordion .faq.active {
  justify-content: flex-start;
  transition: all 0.3s ease;
  height: auto;
}
main .faqs .accordion .faq.active .answer {
  max-height: 200px;
  transition: all 0.3s ease;
  display: block;
  margin-top: 2rem;
}
main .faqs .accordion .faq.active .faq-icon {
  transform: translateY(-50%) rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
