@media screen and (max-width: 1024px) {
  nav {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 14px;
  }
  nav img {
    width: 110px;
  }
  nav .nav__items {
    gap: 8px;
    display: none !important;
  }
  nav .menu_bar {
    display: block !important;
    width: 30px;
    filter: brightness(0) invert(1);
    margin-right: 1rem;
  }
  nav .log__btns {
    display: none !important;
  }
  main .hero {
    height: auto;
    height: 95vh !important;
    background-size: cover;
    padding-top: 30px;
  }
  main .hero .hero__title {
    font-size: 48px;
    line-height: 54px;
    text-align: center;
  }
  main .hero .hero__description {
    font-size: 17px;
    text-align: center;
  }
  main .hero .dot1 {
    top: 7.5rem;
    left: 4rem;
    font-size: 11px;
  }
  main .hero .dot2 {
    top: 9rem;
    right: 4rem;
    font-size: 11px;
  }
  main .hero .dot3 {
    top: 15.5rem;
    left: 6rem;
    font-size: 11px;
  }
  main .hero .dot4 {
    top: 22rem;
    right: 4rem;
    font-size: 11px;
  }
  main .hero .dashboard {
    margin-top: -10rem !important;
    padding: 6px 12px;
    font-size: 14px;
  }
  main .hero .signup-container {
    width: 88%;
    max-width: 420px;
    height: 48px;
    margin: 0 auto;
  }
  main .hero .signup-container .email-input {
    font-size: 14px;
  }
  main .hero .signup-container .signup-btn {
    padding: 0 20px;
    height: 44px;
  }
  main .hero .bottom__img,
  main .hero .pluggo__img {
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
  }
  .features {
    padding-top: 30px;
  }
  .features .features__description {
    flex-direction: column;
    align-items: start !important;
    gap: 20px;
  }
  .features .feature__image {
    flex-direction: column;
    gap: 25px;
    align-items: start !important;
  }
  .features .feature__image .features__options {
    gap: 20px;
  }
  .features .feature__image .features__options .option__description {
    margin-left: 0;
    margin-top: 1rem;
  }
  .features .feature__image .feature__img {
    width: 70%;
    margin: 2rem auto;
  }
  .how_it_works {
    margin-top: 6rem;
  }
  .how_it_works .how_it_works_title {
    flex-direction: column;
    align-items: start !important;
    gap: 20px;
  }
  .how_it_works .how_it_works_images .grid {
    gap: 20px;
  }
  .how_it_works .how_it_works_images .grid .grid1,
  .how_it_works .how_it_works_images .grid .grid2,
  .how_it_works .how_it_works_images .grid .grid3,
  .how_it_works .how_it_works_images .grid .grid4,
  .how_it_works .how_it_works_images .grid .grid5 {
    position: relative;
  }
  .how_it_works .how_it_works_images .grid .grid_title {
    bottom: 3rem;
    left: 1rem;
    font-size: 22px !important;
  }
  .how_it_works .how_it_works_images .grid .grid_description {
    bottom: 1rem;
    left: 1rem;
    font-size: 12px !important;
  }
  .how_it_works .how_it_works_images .grid .img1,
  .how_it_works .how_it_works_images .grid .img2,
  .how_it_works .how_it_works_images .grid .img3,
  .how_it_works .how_it_works_images .grid .img4,
  .how_it_works .how_it_works_images .grid .img5 {
    width: 100%;
  }
  .testimonial .testimonial-block {
    gap: 20px;
  }
  .testimonial .testimonial-block .testimonial-metric {
    flex: unset;
    margin-right: 0;
    text-align: center;
  }
  .testimonial .testimonial-block .testimonial-metric .metric-number {
    font-size: 50px !important;
  }
  .testimonial .testimonial-block .testimonial-metric .metric-label {
    font-size: 16px !important;
  }
  .testimonial .testimonial-block .testimonial-content {
    padding-left: 0;
  }
  .testimonial .testimonial-block .testimonial-content .testimonial-text {
    font-size: 20px !important;
    margin-left: 4rem;
  }
  .testimonial .testimonial-block .testimonial-content .bio-block {
    margin-left: 4rem;
  }
  .testimonial .testimonial-block .testimonial-content .bio-name {
    font-size: 18px;
  }
  .testimonial .testimonial-block .testimonial-content .bio-title {
    font-size: 14px;
  }
  .unknown_section {
    flex-direction: column;
    gap: 20px;
  }
  .unknown_section img {
    width: 90%;
    padding: 30px 15px 0 15px;
    border-radius: 20px;
  }
  .unknown_section .words {
    text-align: center;
  }
  .unknown_section .words .title {
    font-size: 36px;
  }
  .unknown_section .words .about {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .faqs {
    margin-top: 2rem;
  }
  .faqs .title {
    width: 60px;
    font-size: 24px;
    margin: 6rem auto 1rem auto;
  }
  .faqs .about {
    font-size: 16px;
    margin-bottom: 3rem;
  }
  .faqs .accordion {
    margin-top: -1rem;
  }
  .faqs .accordion .faqs {
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    max-width: 95%;
    padding: 20px;
    font-size: 18px;
  }
  .faqs .accordion .faqs .question {
    font-size: 22px !important;
  }
  .faqs .accordion .faqs::before {
    left: 5px;
    height: 80%;
  }
  .faqs .accordion .answer {
    font-size: 15px;
    max-height: 180px;
    margin-top: 1.5rem;
  }
  .faqs .accordion .faq-icon {
    width: 20px;
    right: 15px;
  }
  .faqs .accordion .faq.active .faq-icon {
    transform: translateY(-50%) rotate(45deg);
  }
}
@media screen and (max-width: 1024px) {
  .business {
    padding: 60px 15px;
  }
  .business .about {
    font-size: 40px;
    text-align: center;
  }
  footer {
    padding: 5rem 2rem 2rem 2rem !important;
  }
  footer .footer {
    padding: 3rem 2rem;
  }
  footer .footer .contact-us {
    flex-direction: column;
    align-items: start !important;
    gap: 60px;
  }
  footer .footer .contact-us .footer__items {
    gap: 18px;
    align-items: center;
  }
  footer .footer .contact-us .footer__items li {
    font-size: 18px;
  }
  footer .footer .contact-us .footer__items a {
    font-size: 16px;
  }
  footer .footer .apps {
    flex-wrap: wrap;
    gap: 18px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
    border-radius: 10px !important;
  }
  nav img {
    width: 90px;
  }
  nav .nav__items {
    display: none !important;
  }
  nav .menu_bar {
    display: block !important;
    width: 28px;
    margin-right: 0.5rem;
    filter: brightness(0) invert(1);
  }
  nav .log__btns {
    display: none !important;
  }
  main .hero {
    height: auto !important;
    min-height: 100vh;
    padding-top: 20px;
  }
  main .hero .hero__title {
    font-size: 36px !important;
    line-height: 42px;
    text-align: center;
  }
  main .hero .hero__description {
    font-size: 14px;
    text-align: center;
  }
  main .hero .dot1 {
    top: 6rem;
    left: 3rem;
    font-size: 9px;
  }
  main .hero .dot2 {
    top: 7rem;
    right: 3rem;
    font-size: 9px;
  }
  main .hero .dot3 {
    top: 12rem;
    left: 5rem;
    font-size: 9px;
  }
  main .hero .dot4 {
    top: 18rem;
    right: 3rem;
    font-size: 9px;
  }
  main .hero .dashboard {
    margin-top: -2rem !important;
    padding: 5px 10px;
    font-size: 12px;
  }
  main .hero .signup-container {
    width: 95% !important;
    height: 45px;
  }
  main .hero .signup-container .email-input {
    font-size: 13px;
  }
  main .hero .signup-container .signup-btn {
    padding: 0 18px;
    height: 40px;
    font-size: 13px;
  }
  main .hero .bottom__img,
  main .hero .pluggo__img {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
  .features {
    padding-top: 20px;
  }
  .features .features__description {
    flex-direction: column;
    align-items: center !important;
    gap: 15px;
  }
  .features .feature__image {
    flex-direction: column;
    gap: 20px;
    align-items: center !important;
  }
  .features .feature__image .features__options {
    gap: 15px;
  }
  .features .feature__image .option__description {
    margin-left: 0;
    margin-top: 0.5rem;
    font-size: 14px;
  }
  .features .feature__image .feature__img {
    width: 90%;
    margin: 1.5rem auto;
  }
  .how_it_works {
    margin-top: 5rem;
  }
  .how_it_works .how_it_works_title {
    flex-direction: column;
    align-items: center !important;
    gap: 15px;
  }
  .how_it_works .how_it_works_images .grid {
    flex-direction: column;
    gap: 15px;
  }
  .how_it_works .how_it_works_images .grid .grid_title {
    font-size: 18px !important;
    bottom: 2.5rem;
    left: 1rem;
  }
  .how_it_works .how_it_works_images .grid .grid3 {
    display: none !important;
  }
  .how_it_works .how_it_works_images .grid .grid {
    margin-top: -1rem !important;
  }
  .how_it_works .how_it_works_images .grid .grid_description {
    font-size: 12px !important;
    bottom: 0.8rem;
    left: 1rem;
  }
  .how_it_works .how_it_works_images .grid .img1,
  .how_it_works .how_it_works_images .grid .img2,
  .how_it_works .how_it_works_images .grid .img3,
  .how_it_works .how_it_works_images .grid .img4,
  .how_it_works .how_it_works_images .grid .img5 {
    width: 100%;
  }
  .testimonial .about {
    font-size: 30px !important;
  }
  .testimonial .testimonial-block {
    flex-direction: column;
    gap: 15px;
  }
  .testimonial .testimonial-block .testimonial-metric {
    flex-direction: column !important;
    margin-right: 0;
  }
  .testimonial .testimonial-block .testimonial-metric .metric-number {
    font-size: 40px !important;
  }
  .testimonial .testimonial-block .testimonial-metric .metric-label {
    font-size: 14px !important;
  }
  .testimonial .testimonial-block .testimonial-content::before {
    content: "";
    display: none !important;
  }
  .testimonial .testimonial-block .testimonial-content {
    padding-left: 0;
  }
  .testimonial .testimonial-block .testimonial-content .testimonial-text {
    font-size: 16px !important;
    margin-left: 0;
  }
  .testimonial .testimonial-block .testimonial-content .bio-block {
    margin-left: 0;
  }
  .testimonial .testimonial-block .testimonial-content .bio-name {
    font-size: 16px;
  }
  .testimonial .testimonial-block .testimonial-content .bio-title {
    font-size: 12px;
  }
  .unknown_section {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .unknown_section img {
    width: 95%;
    padding: 20px 10px 0 10px;
    border-radius: 15px;
  }
  .unknown_section .words {
    text-align: center;
  }
  .unknown_section .words .title {
    font-size: 28px !important;
  }
  .unknown_section .words .about {
    font-size: 14px;
  }
  .business {
    padding: 50px 10px;
  }
  .business .about {
    font-size: 32px !important;
    text-align: center;
  }
  .faqs {
    margin-top: 1.5rem;
  }
  .faqs .title {
    width: 40px;
    font-size: 20px;
    margin: 3rem auto !important;
  }
  .faqs .about {
    font-size: 30px;
    margin-bottom: 2rem;
    margin: 3rem 0 !important;
  }
  .faqs .accordion {
    margin-top: -0.5rem;
  }
  .faqs .accordion .faqs {
    width: 100%;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
  .faqs .accordion .faqs .question {
    font-size: 15px !important;
    margin-left: -1rem;
  }
  .faqs .accordion .faqs::before {
    left: 3px;
    height: 80%;
  }
  .faqs .accordion .answer {
    font-size: 14px;
    max-height: 150px;
    margin-top: 1rem;
  }
  .faqs .accordion .faq-icon {
    width: 18px;
    right: 10px;
  }
  .faqs .accordion .faq.active .faq-icon {
    transform: translateY(-50%) rotate(45deg);
  }
  footer {
    padding: 4rem 1rem 2rem 1.5rem !important;
  }
  footer .footer {
    padding: 2rem 1.5rem !important;
    align-items: start !important;
  }
  footer .footer .about {
    font-size: 30px !important;
  }
  footer .footer .contact-us {
    flex-direction: column;
    align-items: start !important;
    gap: 40px;
  }
  footer .footer .contact-us .footer__items {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  footer .footer .contact-us .footer__items li {
    font-size: 16px;
  }
  footer .footer .contact-us .footer__items a {
    font-size: 14px;
  }
  footer .footer .apps {
    flex-wrap: wrap;
    gap: 15px;
  }
  footer .footer .bottom_words {
    flex-direction: column;
    gap: 12px;
  }
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: #090909;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

.nav-container {
  margin: 0 auto;
  max-width: 1260px;
  width: 90%;
}

.container {
  margin: 0 auto;
  max-width: 1190px;
  width: 90%;
}

.business-container {
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

.gradient-text {
  font-weight: 400;
  line-height: 1.2;
  background: linear-gradient(90deg, #ffffff 0%, #e7e1d8 50%, #a99a85 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  background-color: #1b1626;
  padding: 10px 15px;
  display: inline;
  color: #ffffff;
  border-radius: 40px;
}

.about {
  font-size: 50px;
  font-weight: 500;
}

.description {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.pluggo-btn {
  background-color: #f2f962;
  color: #000;
  border: none;
  padding: 0 25px;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  margin-top: 3rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.6, 0, 0.2, 1);
}

.text-main,
.text-hover {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pluggo-btn:hover .inner-container {
  transform: translateY(-50px);
}

.flip-btn {
  position: relative;
  height: 42px;
  padding: 0 24px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.548);
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}
.flip-btn .text {
  display: flex;
  flex-direction: column;
  height: 84px;
  transition: transform 0.4s ease;
}
.flip-btn .text span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
}
.flip-btn:hover .text {
  transform: translateY(-42px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: transparent;
  z-index: 1000;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 60px;
}
nav img {
  width: 140px;
}
nav .menu_bar {
  display: none;
}
nav .nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .nav__items li {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 8px 23px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
nav .nav__items li:hover {
  border: 1px solid #ffffff;
}
nav .nav__items li.active {
  border: 1px solid #ffffff;
}
nav .log__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

main {
  padding: 20px;
}
main .hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent 80%, #0e0014 100%), url("../assets/photos/background.avif");
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 143vh;
  margin: 0 auto;
  flex-flow: column;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
main .hero .dot {
  color: #ffffff;
  position: absolute;
  font-size: 13px;
  z-index: 1;
}
main .hero .dot1 {
  top: 11rem;
  left: 10rem;
}
main .hero .dot2 {
  top: 13rem;
  right: 10rem;
}
main .hero .dot3 {
  top: 20rem;
  left: 13rem;
  opacity: 0.7;
}
main .hero .dot4 {
  top: 32rem;
  right: 10rem;
}
main .hero .dashboard {
  color: #ffffff;
  background-color: #24212b;
  display: inline-block;
  padding: 8px 15px;
  margin-top: -24rem;
  font-weight: 500;
  border-radius: 20px;
  z-index: 6;
}
main .hero .hero__title {
  font-size: 65px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero .hero__description {
  color: #ffffff;
  font-size: 17px;
  z-index: 5;
}
main .hero .signup-container {
  display: flex;
  align-items: center;
  background-color: #303030;
  border-radius: 40px;
  padding: 0 4px;
  width: 530px;
  height: 58px;
  z-index: 5;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
main .hero .email-input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0 16px;
  color: white;
  font-size: 14px;
  height: 100%;
  outline: none;
}
main .hero .email-input::placeholder {
  color: #aaa;
}
main .hero .signup-btn {
  background-color: #f6ff66;
  color: #000;
  border: none;
  border-radius: 40px;
  padding: 0 25px;
  height: 47px;
  margin-right: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
main .hero .signup-btn:hover {
  transform: translateY(2px);
}
main .hero .bottom__img {
  position: absolute;
  top: 19rem;
  width: 1100px;
}
main .hero .pluggo__img {
  width: 1180px;
  z-index: 6;
  position: absolute;
  bottom: 0;
}
main .features {
  position: relative;
}
main .features .dot1 {
  position: absolute;
  color: #ffffff;
  top: -3rem;
  left: -2rem;
  font-size: 14px;
  opacity: 0.4;
}
main .features .dot2 {
  position: absolute;
  color: #ffffff;
  top: -1rem;
  right: 1rem;
  font-size: 14px;
  opacity: 0.8;
}
main .features .features__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 8rem;
}
main .features .features__description .features__about {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
main .features .feature__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
main .features .feature__image .features__options {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .features .feature__image .features__options .option__description {
  margin-left: 4rem;
  margin-top: 1rem;
}
main .features .feature__image .option {
  color: #ffffff;
}
main .features .feature__image .option .option_about {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}
main .features .feature__image .option .option_about img {
  background-color: #313131;
  padding: 10px;
  border-radius: 50%;
}
main .features .feature__img {
  width: 500px;
}
main .how_it_works {
  margin-top: 10rem;
}
main .how_it_works .how_it_works_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .how_it_works .how_it_works_title .about {
  margin-top: 1rem;
}
main .how_it_works .how_it_works_images {
  margin-top: 4rem;
}
main .how_it_works .how_it_works_images .grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
main .how_it_works .how_it_works_images .grid .grid1,
main .how_it_works .how_it_works_images .grid .grid2,
main .how_it_works .how_it_works_images .grid .grid3,
main .how_it_works .how_it_works_images .grid .grid4,
main .how_it_works .how_it_works_images .grid .grid5 {
  position: relative;
}
main .how_it_works .how_it_works_images .grid .grid_title {
  position: absolute;
  bottom: 5.8rem;
  font-size: 30px;
  font-weight: 500;
  left: 2rem;
}
main .how_it_works .how_it_works_images .grid .grid3 .grid_title {
  bottom: 4.7rem;
}
main .how_it_works .how_it_works_images .grid .grid_description {
  color: #ffffff;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 15px;
  opacity: 0.6;
}
main .how_it_works .how_it_works_images .grid .img1 {
  width: 687px;
  object-fit: cover;
}
main .how_it_works .how_it_works_images .grid .img2 {
  width: 483px;
}
main .how_it_works .how_it_works_images .grid .img3 {
  border-radius: 30px;
}
main .how_it_works .how_it_works_images .grid .img4 {
  width: 485px;
  object-fit: cover;
}
main .how_it_works .how_it_works_images .grid .img5 {
  width: 685px;
}
main .testimonial {
  margin-top: 10rem;
}
main .testimonial .testimonial_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 5rem;
}
main .testimonial .testimonial-block {
  display: flex;
  margin-bottom: 8rem;
  align-items: flex-start;
  gap: 40px;
}
main .testimonial .testimonial-metric {
  flex: 0 0 250px;
  text-align: left;
  margin-right: 40px;
}
main .testimonial .metric-number {
  display: block;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 10px;
}
main .testimonial .metric-label {
  font-size: 19px;
  color: #ffffff;
  text-transform: capitalize;
}
main .testimonial .testimonial-content {
  flex: 1;
  position: relative;
  padding-left: 60px;
}
main .testimonial .testimonial-content::before {
  content: "";
  display: block;
  position: absolute;
  left: -0.7rem;
  top: -10px;
  width: 60px;
  height: 40px;
  background-image: url("../assets/photos/quote.avif");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
}
main .testimonial .testimonial-text {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 30px;
}
main .testimonial .bio-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .testimonial .bio-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
main .testimonial .bio-name {
  color: #e6ec5d;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3px;
}
main .testimonial .bio-title {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 600;
}
main .unknown_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .unknown_section img {
  width: 550px;
  background: #2a2a2a;
  padding: 50px 50px 0 50px;
  border-radius: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
main .unknown_section .words {
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .unknown_section .words .title {
  font-size: 50px;
  margin-left: -0.8rem;
  margin-bottom: 10px;
}
main .unknown_section .words .about {
  font-size: 18px;
  color: #aaaaaa;
}
main .faqs {
  margin-top: 2rem;
}
main .faqs .title {
  display: flex;
  justify-content: center;
  width: 80px;
  margin: 10rem auto 1rem auto;
}
main .faqs .about {
  text-align: center;
  margin-bottom: 4rem;
}
main .faqs .accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}
main .faqs .accordion .faqs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  position: relative;
  border-radius: 16px;
  padding: 28px;
  align-items: center;
  width: 900px;
  overflow: hidden;
}
main .faqs .accordion .faqs .question {
  font-size: 27px;
}
main .faqs .accordion .faqs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 1.1px;
  background: linear-gradient(to bottom, transparent, #f5f5f5, transparent);
}
main .faqs .accordion .answer {
  margin-top: 2rem;
  color: #9f9f9f;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: max-height 0.4s ease, display 0.4s ease, margin 0.4s ease;
}
main .faqs .accordion .faq-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s ease;
  width: 23px;
}
main .faqs .accordion .faq.active {
  justify-content: flex-start;
  transition: all 0.3s ease;
  height: auto;
}
main .faqs .accordion .faq.active .answer {
  max-height: 200px;
  transition: all 0.3s ease;
  display: block;
  margin-top: 2rem;
}
main .faqs .accordion .faq.active .faq-icon {
  transform: translateY(-50%) rotate(45deg);
}
main .business {
  margin-top: 9rem;
  background: url("../assets/photos/section-photo.webp") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
}
main .business .about {
  font-size: 53px;
  font-weight: 500;
}
main .business .pluggo-btn {
  margin-top: 1rem;
}

footer {
  padding: 8rem 7rem 3rem 7rem;
}
footer .footer {
  background: url("../assets/photos/background.avif");
  border-radius: 40px;
  background-size: cover;
  background-position: cover;
  min-width: 100%;
  padding: 5rem 5.1rem;
  margin: 0 auto;
}
footer .footer .contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer .contact-us .contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .footer .contact-us .about {
  font-size: 55px;
}
footer .footer .contact-us .footer__items {
  display: flex;
  align-items: center;
  align-items: start;
  gap: 70px;
}
footer .footer .contact-us .footer__items li {
  color: #ffffff;
}
footer .footer .contact-us .footer__items li:nth-child(1) {
  font-size: 25px;
  margin-bottom: 1.5rem;
}
footer .footer .contact-us .footer__items a {
  margin-bottom: 1rem;
  font-size: 20px;
  transition: all 0.3s ease;
}
footer .footer .contact-us .footer__items a:hover {
  color: #f2f962;
}
footer .footer .apps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
footer .footer .apps img {
  width: 160px;
}
footer .footer .apps .app {
  display: flex;
  gap: 12px;
  padding: 20px;
}
footer .footer .apps .app a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #333333;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
footer .footer .apps .app a .footer-social-icon {
  width: 23px;
  height: 23px;
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
}
footer .footer .apps .app a:hover {
  background-color: #d9f01a;
  border-color: #d9f01a;
}
footer .footer .apps .app a:hover .footer-social-icon {
  fill: #000000;
}
footer .footer .line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
}
footer .footer .bottom_words {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  color: #ffffff;
}
footer .footer .bottom_words .link {
  color: #f2f962;
  text-decoration: underline;
}
footer .footer .bottom_words .licence {
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .footer .bottom_words .licence .word {
  transition: all 0.3s ease;
  font-size: 17px;
}
footer .footer .bottom_words .licence .word:hover {
  color: #f2f962;
}

/*# sourceMappingURL=style.css.map */
